<div class="trace-event" ng-class="$ctrl.getStatusClass()">
  <div class="header" ng-click="$ctrl.toggle()">
    <div class="time">{{$ctrl.trace.timestamp | date:'HH:mm:ss.sss'}}
      <br/><small class="muted">{{$ctrl.trace.timestamp | date:'dd.MM.yyyy'}}</small></div>
    <div class="title">
      <span class="status">{{$ctrl.trace.info.headers.response.status || '???' }}</span>
      <span class="muted"> - {{$ctrl.trace.info.method}}</span> {{$ctrl.trace.info.path}}
    </div>
  </div>
  <pre ng-show="$ctrl.show">{{$ctrl.trace.info | json }}</pre>
</div>