<div class="container">
	<div class="alert alert-error" ng-if="error">
		<b>Error:</b> {{ error }}
	</div>
	<form class="form-inline">
		<button title="refresh" class="btn" ng-click="refresh()"><i class="fa fa-repeat"></i></button>
		<div class="input-prepend input-append">
			<button title="auto refresh" class="btn" ng-click="toggleAutoRefresh()" ng-class="{'active':refresher != null}">
      <i class="fa fa-refresh" ng-class="{'fa-spin':refresher != null}"></i>
    </button>
			<input class="input-mini" type="number" min="1" ng-model="refreshInterval" ng-disabled="refresher != null" />
			<span class="add-on">sec</span>
		</div>
		<input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
	</form>
	<ul class="timeline">
		<li ng-repeat="trace in traces | filter:searchFilter">
			<sba-trace value="trace"></sba-trace>
		</li>
	</ul>
</div>