body {
  background-color: #f1f1f1;
  font-family: "Varela Round", sans-serif;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-link,
.btn-link:hover,
.btn-link:active,
a,
a:hover,
a:active {
  color: #5fa134;
}

pre {
  white-space: pre;
}

/* ---------- */

.nav {
  margin-bottom: 0;
}
.nav > li > a {
  color: #838789;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus,
.table > thead > tr > th {
  background-color: #34302D;
  border-color: #34302D;
  color: #f1f1f1;
}

/* ---------- */

.header--navbar {
  margin: 0 0 20px 0;
}
.header--navbar .navbar-inner {
  font-family: Montserrat, sans-serif;
  z-index: 999;
  background-image: none;
  filter: none;
  background-color: #34302d;
  border: none;
  border-top: 4px solid #6db33f;
  box-shadow: none;
  position: relative;
  border-radius: 0;
  padding: 0;
}
.header--navbar .navbar-inner .brand {
  color: #eeeeee;
  text-shadow: none;
  font-size: 30px;
  line-height: 70px;
  padding: 0;
}
.header--navbar .navbar-inner .navbar-link.active a {
  background-color: #6db33f;
  box-shadow: none;
}
.header--navbar .navbar-inner .navbar-link a {
  color: #eeeeee;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  line-height: 70px;
  padding: 0 20px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}
.header--navbar .navbar-inner .navbar-link:hover a {
  color: #eeeeee;
  background-color: #6db33f;
}
.navbar-inner .container-fluid {
  max-width: 1024px;
  margin: 0 auto;
}
a.spring-boot-logo span {
  display: block;
  width: 80px;
  height: 70px;
  background: url("../img/platform-spring-boot.png") 0 center no-repeat;
}

/* ---------- */

.footer {
  background-color: #34302d;
  color: #eeeeee;
  padding: 30px 0;
}
.footer a {
  color: #6db33f;
}
.footer ul {
  text-align: center;
}
