.admonitionblock {
    margin: .25rem 0;
    border-radius: 4px;
    overflow: hidden;

    > table {
        .title {
            display: none;
        }

        .icon {
            width: 32px;

            &::before {
                display: flex;
                content: '';
                width: 24px;
                aspect-ratio: 1;
                margin: 4px auto 4px 8px;
                padding: 0;
                background-image: var(--icon-path);
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    &.tip {
        --icon-path: url("info.svg");
    }
    &.note {
        --icon-path: url("note.svg");
    }
    &.warning {
        --icon-path: url("warning.svg");
    }
}

.listingblock {
    display: flex;
    flex-direction: column;

    .title {
        padding: .25rem 1.25rem;
        font-family: var(--font-mono);
    }

    .content,
    .highlight {
        margin-top: 0;
    }
}

.content:has(> img) {
    margin: 1rem auto;
    text-align: center;

    img {
        border-radius: 4px;
    }
}

table.tableblock {
    margin: 1.25rem 0;

    thead th {
        background-color: hsla(var(--theme-bg-hover), .4);
        border-color: var(--theme-bg);
        border-bottom-width: .25em;
        border-bottom-style: solid;
    }

    tbody {
        tr:nth-of-type(odd) code{
            font-weight: 900 !important;
        }
        tr:nth-of-type(even) {
            font-style: italic;
        }
    }
}

p.tableblock {
    margin: 0;
}
