<h2>{{ applicationId }}
	<div class="btn-group">
		<a class="btn " ng-class="{active: $state.includes('apps.details')}" ui-sref="apps.details.metrics({id: applicationId})">Details</a>
		<a class="btn " ui-sref-active="active" ui-sref="apps.logging({id: applicationId})" >Logging</a></label>
		<a class="btn " ui-sref-active="active" ui-sref="apps.jmx({id: applicationId})">JMX</a></label>
		<a class="btn " ui-sref-active="active" ui-sref="apps.threads({id: applicationId})">Threads</a></label>		
	</div>
</h2>
<div ui-view></div>
