<table class="table table-striped">
	<thead>
		<tr>
			<th>Read log level</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<table>
					<tr>
						<td>Logger name</td>
						<td><input type="text" ng-model="application.logger.name" style="margin-bottom: 0"></td>
					</tr>
					<tr>
						<td>Log level</td>
						<td>{{ application.logger.loglevel }}</td>
					</tr>
					<tr>
						<td></td>
						<td><button ng-click="readLoglevel(application)" class="btn btn-success">Read log level</button></td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
