<table class="table table-striped">
	<thead>
		<tr>
			<th>Write log level</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<table>
					<tr>
						<td>Logger name</td>
						<td><input type="text" ng-model="application.logger.name" style="margin-bottom: 0"></td>
					</tr>
					<tr>
						<td>Log level</td>
						<td><div class="radio">
								<label> <input type="radio" value="ERROR" ng-model="application.logger.loglevel">ERROR
								</label>
							</div>
							<div class="radio">
								<label> <input type="radio" value="WARN" ng-model="application.logger.loglevel">WARN
								</label>
							</div>
							<div class="radio">
								<label><input type="radio" value="INFO" ng-model="application.logger.loglevel">INFO</label>
							</div>
							<div class="radio">
								<label><input type="radio" value="DEBUG" ng-model="application.logger.loglevel">DEBUG</label>
							</div>
							<div class="radio">
								<label><input type="radio" value="TRACE" ng-model="application.logger.loglevel">TRACE</label>
							</div></td>
					</tr>
					<tr>
						<td></td>
						<td><button ng-click="writeLoglevel(application)" class="btn btn-success">Write log level</button> <span
							ng-show="application.logger.success" style="color: #008800">Success!</span><span
							ng-show="application.logger.success != null && !application.logger.success" style="color: #880000">Error!</span></td>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>
