<div class="container">
  <div class="alert alert-error" ng-if="error">
    <b>Error:</b> {{ error }}
  </div>
  <span ng-repeat="(metricName, metricValues) in metricData">
    <sba-info-panel panel-title="{{ metricName | capitalize }}" raw="api/applications/{{ application.id }}/metrics/{{ metricName }}.*">
      <table class="table" ng-if="metricValues !== null && metricValues.length > 0">
        <tr ng-repeat="m in metricValues">
          <td>
            <sba-simple-metric-bar for-metric="m" global-max="metricDataMax[metricName]"></sba-simple-metric-bar>
          </td>
        </tr>
      </table>
    </sba-info-panel>
  </span>
  <span ng-if="hasGauges">
    <sba-info-panel panel-title="Gauges" raw="api/applications/{{ application.id }}/metrics/gauge.*">
      <table class="table" ng-if="gauges.length > 0">
        <tr ng-if="showRichGauges" ng-repeat="gauge in gauges">
          <td>
            <sba-rich-metric-bar for-metric="gauge" global-max="gaugesMax"></sba-rich-metric-bar>
          </td>
        </tr>
        <tr ng-if="!showRichGauges" ng-repeat="gauge in gauges">
          <td>
            <sba-simple-metric-bar for-metric="gauge" global-max="gaugesMax"></sba-simple-metric-bar>
          </td>
        </tr>
      </table>
    </sba-info-panel>
  </span>
</div>
