.DS_Store
node_modules
/dist

# Exclude translation files except english
/src/main/frontend/i18n/i18n.*.json
/src/main/frontend/views/about/i18n.*.json
!i18n.en.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
