.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  --featureSvgSize: 150px;
  margin: 2rem;
  height: var(--featureSvgSize);
  width: var(--featureSvgSize);
}

.justifyCenter {
  justify-content: center;
}
