<div class="navbar header--application" style="margin-bottom: 0px;">
	<div class="navbar-inner">
			<div class="container-fluid">
				<div class="application--name">{{ application.name }}</div>
				<ul class="nav pull-right">
					<li class="navbar-link" ng-class="{active: $state.includes('apps.details')}"> <a ui-sref="apps.details.metrics({id: application.id})"><span>Details</span></a></li>
					<li class="navbar-link" ui-sref-active="active" ><a ui-sref="apps.env({id: application.id})" ><span>Environment<span></a></li>
					<li class="navbar-link" ui-sref-active="active" ><a ui-sref="apps.logging({id: application.id})" ><span>Logging</span></a></li>
					<li class="navbar-link" ui-sref-active="active" ><a ui-sref="apps.jmx({id: application.id})"><span>JMX</span></a></li>
					<li class="navbar-link" ui-sref-active="active" ><a ui-sref="apps.threads({id: application.id})"><span>Threads</span></a></li>
					<li class="navbar-link" ui-sref-active="active" ><a ui-sref="apps.trace({id: application.id})"><span>Trace</span></a></li>
					<li ng-show="application.capabilities.activiti" class="navbar-link" ui-sref-active="active" ><a ui-sref="apps.activiti({id: application.id})"><span>Activiti</span></a></li>
				</ul>
			</div>
	</div>
</div>
<div class="navbar header--application-urls">
	<div class="navbar-inner">
		<div class="container-fluid">
			<ul class="nav" style="width: 100%;">
				<li style="width: 33%; text-align: center;"><a href="{{ application.serviceUrl }}" title="Service URL"><i class="icon-home" ></i> {{ application.serviceUrl }}</a></li>
				<li style="width: 33%; text-align: center;"><a href="{{ application.healthUrl }}" title="Health URL"><i class="icon-heart" ></i> {{ application.healthUrl }}</a></li>
				<li style="width: 33%; text-align: center;"><a href="{{ application.managementUrl }}"  title="Management URL"><i class="icon-wrench"></i> {{ application.managementUrl }}</a></li>
			</ul>
		</div>
	</div>
</div>
<div ui-view></div>
