<div class="container">
    <div class="main-template">
        <p>
            This is an experimental feature. This username and password will be used in all requests to all client endpoints as basic auth data. 
        </p>
        <div class="span12 text-center" >
            <div class="span4 offset4">
                <form>
                    <div class="input-prepend input-append">
                        <input placeholder="Username" class="span4" type="text" ng-model="username" />
                    </div>
                    <div class="input-prepend input-append">
                        <input placeholder="Password" class="span4" type="password" ng-model="password" />
                    </div>
                    <button class="btn" ng-click="login()"><i class="icon-lock"></i> Login</button>
                </form>
            </div>
        </div>
    </div>
</div>