info:
  version: @pom.version@
  stage: test



spring:
  application:
    name: @pom.artifactId@
  boot:
    admin:
      url: http://localhost:8080
  cloud:
    config:
      enabled: false

endpoints:
  health:
    sensitive: false
