<form class="form">
	<p>Please input the arguments for {{$ctrl.invocation.signature}} <small class="muted">: {{$ctrl.invocation.descriptor.ret}}</small></p>
	<div class="control-group" ng-repeat="arg in $ctrl.invocation.descriptor.args" ng-class="{ error : $ctrl.arguments[$index].error }">
		<label class="control-label" for="{{arg.name}}" style="word-break: break-all;">{{arg.name}} <small class="muted" style="word-break: break-all;" ng-bind="arg.type"></small></label>
		<div class="controls">
			<sba-java-type-input sba-type="{{arg.type}}" sba-decription="{{arg.desc}}" sba-change="$ctrl.updateArg($index, value, error)"></sba-java-type-input>
			<span class="help-inline" ng-bind="$ctrl.arguments[$index].error"></span>
		</div>
	</div>
	<button class="btn btn-primary" ng-click="$ctrl.applyParameters()">Execute</button>
</form>