<div class="container">
	<form role="form">
       <h2 class="form-signin-heading">Service Details</h2>   
       <div class="form-group">
		    <label for="inputName">Name</label>
		    <input type="text" id="inputName" ng-model="service.name" class="form-control" placeholder="Name of the Service" required autofocus>
	   </div>    
       <div class="form-group">
		    <label for="inputVersion">Version</label>
		    <input type="text" id="inputVersion" ng-model="service.version" class="form-control" placeholder="Version of the Service" required>
	   </div> 
       <div class="form-group">
		    <label for="inputUrl">URL</label>
		    <input type="text" id="inputUrl" ng-model="service.url" class="form-control" placeholder="URL of the Service" required>
	   </div> 
       <div class="form-group">
		    <label for="inputMessage">Message</label>
		    <input type="text" id="inputMessage" ng-model="service.message" class="form-control" placeholder="Message">
	   </div> 
       <div class="form-group">
		    <label for="inputActive">Active</label>
		    <input type="checkbox" id="inputActive" ng-model="service.active" class="form-control">
	   </div> 
       <button ng-click="saveService()" class="btn btn-lg btn-primary" type="submit">Save</button>
       <button ng-click="cancel()" class="btn btn-lg btn-primary" type="submit">Cancel</button>
  	</form>
</div><!-- /.container -->