<div class="container">
  <div class="main-template">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Service</th>
          <th>Version</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="application in applications">
          <td>{{ application.id }}</td>
          <td>{{ application.url }}</td>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" ng-click="editService(service.id)" class="btn btn-success">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div><!-- /.container -->