.header--application {
  margin: -20px 0 20px 0;
  font-size: 15px;
}
.header--application .navbar-inner {
  background-color: #666;
  background-image: none;
  border-radius: 0;
  filter: none;
  border: none;
  border-bottom: 1px solid #34302D;
  box-shadow: none;
}

.header--application .nav-tabs {
  border: 0;
}

.header--application .nav > li > a  {
  color: #c7c7c7;
}

.header--application .nav > li > a:hover,
.header--application .nav > li > a:focus,
.header--application .nav-tabs > li > a:hover,
.header--application .nav-tabs > li > a:focus {
  color: #f1f1f1;
}

.header--application .nav-tabs > li > a,
.header--application .nav-tabs > li > a:hover,
.header--application .nav-tabs > li > a:focus  {
  background-color: #666;
  border: 0;
  padding: 9px 13px 8px 13px;
  border-bottom: 1px solid transparent;
}
.header--application .nav-tabs > .active > a,
.header--application .nav-tabs > .active > a:hover,
.header--application .nav-tabs > .active > a:focus {
  color: #333333;
  background-color: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #34302D;
  border-right: 1px solid #34302D;
  border-top: 4px solid #6db33f;
  padding: 5px 12px 8px 12px;
}
.header--application .application--title {
  color: #f1f1f1;
  font-size: 24px;
  line-height: 24px;
  margin: 20px 20px 0 0;
  display: inline-block;
}
.application--urls {
  list-style: none;
  text-align: right;
  font-size: 14px;
  color: #888;
  margin: 5px 0 5px 0;
  display: block;
  float: right;
}
.application--urls > li > a {
  color: #f1f1f1;
}
.application--urls > li > a:hover,
.application--urls > li > a:focus {
  color: #c7c7c7;
  text-decoration: none;
}

.application-list {
  background-color: #f9f9f9;
}
table.application-list {
  table-layout: fixed;
  width: 100%;
}
.application-list td.scroll {
  overflow-x: auto;
  max-width: 400px;
}
.application-list .group-column {
  width:30px;
}
.application-list .name-column {
    width: 300px;
}
.application-list .version-column {
    width: 140px;
}
.application-list .info-column {
    width: auto;
}
.application-list .status-column {
    width: 240px;
}

.application-list td.status-column > div {
  text-align: center;
  padding-bottom: 3px;
}

.application-list td.status-column > div * {
  text-align: left;
}

@media (max-width: 992px) {
  .application-list .info-column {
    display: none;
  }

  .application-list .name-column {
    width: auto;
  }
}

.application-list td.group-column {
  border-right: 1px solid #dddddd;
  color: #999999;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.application-list td.group-column:hover {
  background-color: #c7c7c7;
  color: #f9f9f9;
}


/* ---------- */

.sortable {
  cursor: pointer;
}
.sorted-ascending,
.sorted-descending {
  color: #6db33f;
}
.sorted-ascending::after {
  content: " \25b2";
}
.sorted-descending::after {
  content: " \25bc";
}

/* ---------- */

.status-UP {
  color: #00AA00;
  font-weight: bold;
}
.status-OFFLINE {
  color: #000000;
  font-weight: bold;
}
.status-DOWN,
.status-OUT_OF_SERVICE {
  color: #DD0000;
  font-weight: bold;
}
.status-UNKNOWN {
  font-weight: bold;
  color: #FF8800;
}
