<div class="span6">
    <table class="table">
     <thead><tr><th>Application</th><th><small class="pull-right"><a href="{{ application.url }}/info">raw JSON</a></small></th></tr></thead>
    <tbody>
      <tr ng-repeat="(key, value) in application.info" >
        <td>{{ key }}</td><td>{{ value }}</td>
      </tr>
    </tbody>
   </table>
</div>

<div class="span6">
  <table class="table">
    <thead><tr><th>JVM</th><th><small class="pull-right"><a href="{{ application.url }}/metrics">raw JSON</a></small></th></tr></thead>
    <tbody>
      <tr>
        <td>Uptime</td>
        <td>{{ application.metrics['uptime'] + ticks | timeInterval }} [d:h:m:s]</td>
      </tr>
      <tr>
        <td>Available Processors</td>
        <td>{{ application.metrics['processors'] }}</td>
      </tr>
      <tr>
        <td>Current loaded Classes</td>
        <td>{{ application.metrics['classes']}}</td>
      </tr>
      <tr>
        <td> Total loaded Classes</td>
        <td>{{ application.metrics['classes.loaded']}}</td>
      </tr>
      <tr>
        <td> Unloaded Classes</td>
        <td>{{ application.metrics['classes.unloaded']}}</td>
      </tr>
      <tr>
        <td> Threads</td>
        <td>{{ application.metrics['threads'] }} total / {{ application.metrics['threads.daemon'] }} daemon / {{ application.metrics['threads.peak'] }} peak </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="span6">
  <table class="table">
    <thead><tr><th colspan="2">Memory</th></tr></thead>
    <tbody>
      <tr>
        <td colspan="2">
          <span>Total Memory ({{ application.metrics['mem.used'] / 1024 | number:2 }}M / {{ application.metrics['mem'] / 1024 | number:2 }}M)</span>
          <div class="progress" style="margin-bottom: 0px;">
            <div class="bar" style="width:{{ memPercentage = (application.metrics['mem.used'] / application.metrics['mem'] * 100 | number:0) }}%;"
               ng-class="{'bar-success': memPercentage < 75, 'bar-warning': memPercentage >= 75 && memPercentage < 95, 'bar-danger': memPercentage >= 95}">
              {{memPercentage}}%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span>Heap Memory ({{ application.metrics['heap.used'] / 1024 | number:2 }}M / {{ application.metrics['heap.committed'] / 1024 | number:2 }}M)</span>
          <div class="progress" style="margin-bottom: 0px;">
            <div class="bar" style="width:{{ heapPercentage = (application.metrics['heap.used'] / application.metrics['heap.committed'] * 100 | number:0) }}%;"
               ng-class="{'bar-success': heapPercentage < 75, 'bar-warning': heapPercentage >= 75 && heapPercentage < 95, 'bar-danger': heapPercentage >= 95}">
              {{heapPercentage}}%
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Initial Heap (-Xms)</td>
        <td>{{application.metrics['heap.init'] / 1024 | number:2}}M</td>
      </tr>
      <tr>
        <td>Maximum Heap (-Xmx)</td>
        <td>{{application.metrics['heap'] / 1024 | number:2}}M</td>
      </tr>
   </table>
</div>

<div class="span6">
  <table class="table">
    <thead><tr><th colspan="2">Garbage Collection</th></tr></thead>
      <tr ng-repeat-start="(name, value) in gcInfos track by name">
        <td>{{name | capitalize}} GC Count</td>
        <td>{{value.count}}</td>
      </tr>
      <tr ng-repeat-end>
        <td>{{name | capitalize}} GC Time</td>
        <td>{{value.time}} ms</td>
      </tr>
    </tbody>
   </table>
</div>

<div class="span6" ng-show="hasDatasources">
  <table class="table">
    <thead><tr><th colspan="2">Datasources</th></tr></thead>
      <tr ng-repeat = "(name, value) in datasources track by name">
         <td colspan="2">
          <span>{{name | capitalize}} Datasource Connections (active: {{ value.active }})</span>
          <div class="progress" style="margin-bottom: 0px;">
            <div class="bar" style="width:{{ value.usage * 100 | number:0 }}%;"
               ng-class="{'bar-success': value.usage < 0.75, 'bar-warning': value.usage >= 0.75 && value.usage < 0.95, 'bar-danger': value.usage >= 0.95}">
              {{value.usage * 100 | number}}%
            </div>
          </div>
        </td>
      </tr>
    </tbody>
   </table>
</div>

<div class="span12">
  <div class="main-template">
    <div id="xd-jobs" class="tab-pane active col-md-12">
      <ul class="nav nav-tabs">
        <li ui-sref-active="active"><a ui-sref="apps.details.metrics({id: application.id})">Metrics</a></li>
        <li ui-sref-active="active"><a ui-sref="apps.details.env({id: application.id})">Environment</a></li>
        <li ui-sref-active="active"><a ui-sref="apps.details.props({id: application.id})">Properties</a></li>
        <li ui-sref-active="active"><a ui-sref="apps.details.classpath({id: application.id})">Classpath</a></li>
      </ul>
      <div class="tab-content">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>

