<div class="container-fluid content">
    <h3>Spring Boot applications</h3>
    <div>
        <input placeholder="Filter" class="input-xxlarge" type="search" ng-model="searchFilter" />
    </div>
    <table class="table table-hover">
        <col/>
        <col/>
        <col/>
        <col/>
        <col style="width: 250px;" />
        <thead>
            <tr>
                <th><span class="sortable" ng-class="orderByCssClass('name')" ng-click="orderBy('name')">Application</span> /
                    <span class="sortable" ng-class="orderByCssClass('healthUrl')" ng-click="orderBy('healthUrl')">URL</span>
                </th>
                <th><span class="sortable" ng-class="orderByCssClass('info.version')" ng-click="orderBy('info.version')">Version</span></th>
                <th>Info</th>
                <th colspan="2">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="application in applications|orderBy:order.column:order.descending|orderBy:'statusInfo.status':false|filter:searchFilter track by application.id" ng-init="views = viewsForApplication(application)">
                <td>{{ application.name }}
                    <br/><span class="muted">{{ application.serviceUrl || application.managementUrl || application.healthUrl }}</span></td>
                <td>{{ application.version }}</td>
                <td><span style="white-space: pre" ng-init="collapsed = true">{{application.infoShort}}</span>
                    <a class="btn btn-mini" ng-show="application.infoDetails" ng-click="collapsed = !collapsed">...</a>
                    <br/>
                    <span style="white-space: pre" ng-hide="collapsed">{{application.infoDetails}}</span></td>
                <td><span class="status-{{application.statusInfo.status}}" title="{{application.statusInfo.timestamp  | date:'dd.MM.yyyy HH:mm:ss' }}">{{ application.statusInfo.status }}</span>
                    <span ng-show="application.refreshing" class="refresh"></span></td>
                <td>
                    <div class="pull-right">
                        <div class="btn-group">
                            <a ng-if="application.capabilities.logfile && application.managementUrl && application.statusInfo.status != null && application.statusInfo.status != 'OFFLINE'" target="_blank" class="btn btn-success" ng-href="{{application.capabilities.logfile ? 'api/applications/' + application.id + '/logfile' :''}}"><i class="icon-file icon-white"></i>Log</a>
                            <a ng-if="views.length > 0" ng-href="{{views[0].href}}" class="btn btn-success">{{views[0].title}}</a>
                            <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" ng-if="views.length > 1">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="view in views.slice(1)"><a ng-href="{{view.href}}">{{view.title}}</a></li>
                            </ul>
                        </div>
                        <div class="btn-group" title="remove">
                            <a class="btn btn-danger" ng-click="remove(application)"><i class="icon-remove icon-white"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
