<table class="table">
	<thead>
		<tr>
			<th>Counters</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="center-block" style="width: 800px; height:  {{ 75 + counterData[0].values.length * 20 }}px; position:relative; overflow: hidden;">
					<nvd3-multi-bar-horizontal-chart id="counterChart" nodata="not available" 
									data="counterData"
									color="colorFunction()" 
									tooltips="true" tooltipContent="toolTipContentFunction()"
									showYAxis="true" yAxisTickFormat="intFormatFunction()"
									showXAxis="true" xAxisTickFormat="abbreviateFunction(30, 1, 3)" 
									margin="{ top: 25, left: 250, right: 25, bottom: 50}">
	    				</nvd3-multi-bar-horizontal-chart>
    				</div>
    			</td>
    		</tr>
	</tbody>
</table>
<table class="table">
	<thead>
		<tr>
			<th>Gauges</th>
		</tr>
	</thead>
	<tbody>    	
    	<tr>
    		<td>
				<div class="center-block" style="width: 800px; height: {{ 75 + gaugeData[0].values.length * ( 10 + gaugeData.length * 10 ) }}px; position:relative;  overflow: hidden;">
					<nvd3-multi-bar-horizontal-chart id="gaugesChart" nodata="not available" 
									data="gaugeData"
									color="colorFunction()"
									tooltips="true" tooltipContent="toolTipContentFunction()" 
									showYAxis="true" yAxisTickFormat="intFormatFunction()"
									showXAxis="true" xAxisTickFormat="abbreviateFunction(30, 1, 3)"
									showLegend="{{ gaugeData.length > 1 ? 'true' : 'false' }} " legendColor="colorFunction()" 
									margin="{ top: 25, left: 250, right: 25, bottom: 50}">
	    			</nvd3-multi-bar-horizontal-chart>
    			</div>
			</td>
		</tr>
	</tbody>
</table>
