<footer>
  <div class="flex items-center justify-center">
    <a href={Astro.site?.pathname + "en/impress"}>Impressum</a>
  </div>
</footer>

<style>
  footer {
    margin-top: auto;
    padding: 2rem;
  }
</style>
