:root {
    --main-50: rgb(238, 252, 250);
    --main-100: rgb(217, 247, 244);
    --main-200: rgb(183, 240, 234);
    --main-300: rgb(145, 232, 224);
    --main-400: rgb(107, 224, 213);
    --main-500: rgb(71, 217, 203);
    --main-600: rgb(39, 190, 175);
    --main-700: rgb(30, 144, 132);
    --main-800: rgb(20, 97, 90);
    --main-900: rgb(10, 47, 43);
    --bg-color-start: #91E8E0;
    --bg-color-stop: #1E9084;
}
