<table class="table">
	<tr ng-repeat-start="cache in $ctrl.caches track by cache.name">
		<td rowspan="{{cache.hitRatio || cache.missRatio ? 2 : 1}}" ng-bind="cache.name"></td>
		<td>size</td>
		<td ng-bind="cache.size">
	</tr>
	<tr ng-repeat-end ng-if="cache.hitRatio || cache.missRatio">
		<td colspan="2">
			<div class="progress" style="margin-bottom: 0px;">
				<div ng-if="cache.hitRatio" class="bar bar-success" ng-style="{width: cache.hitRatio + '%'}">{{cache.hitRatio}}% hits</div>
				<div ng-if="cache.missRatio" class="bar bar-danger" ng-style="{width: cache.missRatio + '%'}">{{cache.missRatio}}% misses</div>
			</div>
		</td>
	</tr>
</table>