<sba-info-panel panel-title="{{$ctrl.entry.ID}}" category="{{$ctrl.entry.FILENAME.split('/').pop()}}">
  <table class="table">
    <tr>
      <td>Id</td>
      <td ng-bind="$ctrl.entry.ID"></td>
    </tr>
    <tr>
      <td>Author</td>
      <td ng-bind="$ctrl.entry.AUTHOR"></td>
    </tr>
    <tr>
      <td>File</td>
      <td ng-bind="$ctrl.entry.FILENAME"></td>
    </tr>
    <tr>
      <td>Execution Date</td>
      <td ng-bind="$ctrl.entry.DATEEXECUTED | date:'dd.MM.yyyy HH:mm:ss.sss'"></td>
    </tr>
    <tr>
      <td>Execution Order</td>
      <td ng-bind="$ctrl.entry.ORDEREXECUTED"></td>
    </tr>
    <tr>
      <td>Execution</td>
      <td><span class="label {{$ctrl.getExecutionClass()}}" ng-bind="$ctrl.entry.EXECTYPE"></span></td>
    </tr>
    <tr>
      <td>Checksum</td>
      <td ng-bind="$ctrl.entry.MD5SUM"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td ng-bind="$ctrl.entry.DESCRIPTION"></td>
    </tr>
    <tr ng-if="$ctrl.entry.COMMENTS">
      <td>Comments</td>
      <td ng-bind="$ctrl.entry.COMMENTS"></td>
    </tr>
    <tr>
      <td>Deployment Id</td>
      <td ng-bind="$ctrl.entry.DEPLOYMENT_ID"></td>
    </tr>
    <tr>
      <td>Tag</td>
      <td ng-bind="$ctrl.entry.TAG || '-'"></td>
    </tr>
    <tr ng-if="$ctrl.entry.CONTEXTS">
      <td>Contexts</td>
      <td ng-bind="$ctrl.entry.CONTEXTS"></td>
    </tr>
    <tr ng-if="$ctrl.entry.LABELS">
      <td>Labels</td>
      <td>
        <span ng-repeat="label in $ctrl.entry.LABELS.split(',')"><span class="label" ng-bind="label"></span></span>
      </td>
    </tr>
    <tr>
      <td>Liquibase Version</td>
      <td ng-bind="$ctrl.entry.LIQUIBASE"></td>
    </tr>
  </table>
</sba-info-panel>