---
import ThemeToggleButton from './ThemeToggleButton';

type Props = {
	editHref: string;
};

const { editHref } = Astro.props;
---

<div style="margin: 2rem 0; text-align: center;">
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
