.accordion-heading,
.accordion-heading > a,
.accordion-heading > a:hover,
.accordion-heading > a:focus {
  background-color: #34302D;
  border-color: #34302D;
  color: #f1f1f1;
}
.accordion-group {
  border: 1px solid #34302D;
}