name: build feature branches

on:
  push:
    branches-ignore:
      - master
      - 1.*
      - 2.*

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2016]

    runs-on: ${{ matrix.os }}
    steps:

      - uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Cache local Maven repository
        uses: actions/cache@v2.1.6
        env:
          cache-name: cache-mvn
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      # since we also build on Windows Powershell, we need to add a space between -D maven.javadoc.skip=true
      # otherwise the build will fail https://stackoverflow.com/questions/38051787/maven-javadoc-skip-true-throws-an-error
      - name: Build with Maven
        run: |
          mvn -B spring-javaformat:apply --no-transfer-progress
          mvn -B verify -P coverage --no-transfer-progress -D maven.javadoc.skip=true

      - uses: codecov/codecov-action@v1
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov
